<div class="container">
  <div class="header">
    <img src="./../Image/app/SMR2.png" alt="">
    <h4 class="appTitle">17PLAY</h4>
    <!--<img src="./../Image/app/SMR2.png" style="height: 40px; width: 90px; float:right" alt="" >
  -->
    <button type="button" class="btn-sm btn-info" style=" position:absolute;bottom: 0px; right:0px">安裝</button>
  </div>

  <div class="contant">
    <tabset>
      <tab heading="詳細資料">
        <div style="margin: 5px 5px 5px 5px">
        <img src="./../Image/app/IMG_9517.PNG" style="width: 100%" alt="">
        </div>
        <div>
          <h5>描述</h5>
          <div>
            說明說明說明說明說明說明說明說明說明說明說明說明說明說明說明說明說明
          </div>
          <h5>新功能</h5>
          <div>
            說明最近版本更新
          </div>
          <h5>資訊</h5>
          <div>
            開發小組、類別、大小、更新日期、版本
          </div>
        </div>
      </tab>
      <tab heading="評論">
        <h5>評分與評論</h5>
      </tab>
    </tabset>
  </div>
</div>

<!--<p>
  app-application works!
</p>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-link">Link</button>
-->